:root{
  --clr-white:#FFF7F0;
  --clr-black:#030303;
  --clr-purple:#755CDE;
  --clr-green:#61C4B7;;
  --clr-salmon:#EB7565;
  --clr-paragraph:#7A746E;

}

* {

  box-sizing: border-box;

}

body {
    background-color: var(--clr-white) ;
    color: var(--clr-black) ;
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
  }

  
  @media (width < 375px) {
    html, body {
      overflow-x: hidden;
    }
  }
  
  nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 40px;
  }

  @media (width < 375px) {
    nav {
      padding: 20px 16px; 
    }
}  
  
  #logo img {
    width: 64px;
    aspect-ratio: 1;
  }
  
  #call-to-action {
    background-color: var(--clr-black) ;
    color: var(--clr-white) ;
    text-decoration: none;
    padding: 14px 45px;
    border-radius: 1000vw;
    font-weight: bold;
  }


  @media (width < 375px) {
    #logo img {
      width: 48px;
      aspect-ratio: 1;
    }
    #call-to-action {
      background-color: var(--clr-black) ;
      color: var(--clr-white) ;
      text-decoration: none;
      padding: 8px 27px;
      border-radius: 100vw;
      font-weight: bold;
    }
        
    }
  
  .text-content {
    text-align: center;
    margin-block-end: 22px;
  }

  h1 {
    font-size: 3.5rem;
    margin-block-end: 22px;
  }

  h2{
    font-size: 2.5rem;
  }
  
  p{
    font-size: 1.125rem;
  }
  
  .text-content p {
    color: var(--clr-paragraph) ;
    font-size: 18px;
    max-width: 600px;
    margin: auto;
  }
  
  .image-container {
    display: flex;
    gap: 24px;
    margin: 40px auto;
    max-width: 1200px;
  }
  

  @media (width < 375px) {
    .image-container {
     display: flex;
    flex-direction: column;
  
    gap: 24px; /* Separación entre los elementos */
    padding: 0 16px; /* Espacio de 16px a los lados */
    }
 }
  .image-container a {
    aspect-ratio: 4 / 5;
    border: var(--clr-black)  solid 1px;
    flex-basis: 30%; /* Ocupa un 30% del contenedor */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    color:  var(--clr-black) ;
    padding: 20px;
    border-radius: 8px;
    position: relative;
  }
  
  .image-container a img {
    align-self: end;
  }
  
  .image-container a h3 {
    font-size: 24px;
    color: var(--clr-white);
    margin-top: auto;
    align-self: start;
  }
  
  .square{
    width: 26.3rem;
    
  }

  @media (width < 375px) {
      .square{
      width: 21.1875rem;
      height: 22.75rem;
      
    }
  }
  .purple {
    background-color: var(--clr-purple);
  }
  
  .orange {
    background-color: var(--clr-salmon);
  }
  
  .green {
    background-color: var(--clr-green);
  }
  
  .img-purple{
    width: 8rem;
  }
  .img-orange{
    width: 14.359375rem;
  }
  .img-green{
    height: 13.540625rem !important;
    width: 5.41625rem; 
  }
  
  .card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.875rem;
    margin: 2.5rem auto;
    width: 69.375rem;
  }

  @media (width < 375px) {
    .card {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 21.4375rem; 
    }
    }
  
  
  
  .button{
    background-color: var(--clr-salmon) !important;
  
  }
  
  .card img{
    width: 445px;
  }
  
  @media (width < 375px) {
    .card img{
      width: 18.75rem;
    }
 }

  .text-button{
    margin-bottom: 2rem;
    margin-top: 2.125rem;
  }

  @media (width < 375px) {
    section{ 
        
    }
 }


 .call-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  max-width:1200px;
  background-color: var(--clr-black);
  border-radius: 8px;
  padding: 56px 75px;

 }
.txt-white{
  color: var(--clr-white);
  text-align: center;
}